# Domain untuk website Anda
DOMAIN=lelebyte.my.id

# Email untuk Let's Encrypt certificate
ACME_EMAIL=malikdayat1207@gmail.com

# Basic Auth untuk Traefik Dashboard (format: user:hashed_password)
# Generate dengan: docker run --rm httpd:2.4-alpine htpasswd -nbB admin YOUR_PASSWORD
# Contoh untuk password "admin123":
TRAEFIK_DASHBOARD_AUTH=admin:$$2y$$10$$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi
