# Domain untuk website Anda
DOMAIN=lelebyte.my.id

# Email untuk Let's Encrypt certificate
ACME_EMAIL=malikdayat1207@gmail.com

# Basic Auth untuk Traefik Dashboard (format: user:hashed_password)
# Generate dengan: echo $(htpasswd -nb admin your_password) | sed -e s/\\$/\\$\\$/g
TRAEFIK_DASHBOARD_AUTH=admin:$$2y$$10$$example_hashed_password
